/**
 * Basic layout for tables. Use class <code>booktable</code> on the table.
 */

table.booktable {
    margin: 20px 8px 20px 8px;
    border-collapse: collapse;
}
.booktable thead, .booktable tbody, .booktable tfoot {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.booktable th, .booktable tfoot td {
    font-weight: bold;
    font-size: 1.1em;
}
.booktable tr {
    border-bottom: 1px solid gray;
}
.booktable td, .booktable th {
    padding: 3px 8px 3px 8px;
}
.booktable td.numeric, .booktable th.numeric {
    text-align: right;
}
.booktable caption {
    font-style: italic;
    text-align: center;
    font-size: 1.1em;
    padding: 2em 4em 1em 2em;
}

